:root {
  --background-color-dark: #121212;
  --highlight-color-green: #03DAC5;
  --highlight-color-purple: #BB86Fc;
  overflow-x: hidden;
}

.App {
  text-align: center;
  background-color: var(--background-color-dark);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  color: #ffffff;
}

a:hover {
  color: var(--highlight-color-green);
}