:root {
  --background-color-light: #e1e1db;
  --background-color-dark: #3b2e2a;
  --background-color-hover: #c9c9ba;
}

.App {
  text-align: center;
  background-color: var(--background-color-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  color: var(--background-color-dark);
}