.comment-window {
    font-size: 0.43em;
    text-align: left;
    overflow-x: hidden;
}

.comment-text-box {
    text-align: left;
    overflow: hidden;
    font-size: 1rem;
    border: 1px solid var(--background-color-highlight);
    background-color: var(--background-color-highlight);
    border-radius: 8px;
    padding: 5px;
    margin: 5px 5px 20px 25px;
}

.click-comment-message {
    font-size: 1em;
    color: grey;
}

.comment-author {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    color: grey;
    width: 100%;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.comment-author:hover {
    background-color: var(--background-color-highlight);
}

.triangle-up-comment {
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-bottom: 1.6em solid grey;
    font-size: 0.5em;
}

.triangle-down-comment {
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-top: 1.6em solid grey;
    font-size: 0.5em;
}

.time {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.9em;
    color: grey;
}

.comment-box {
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 1px;
    margin-left: 4px;
}

.triangle-box {
    display: inline-block;
    padding-left: 11px;
    padding-right: 10px;
}

.inline {
    display: inline-block;
}

.pill {
    color: white;
    font-size: 0.9rem;
}