.ribbon {
  background-color: var(--background-color-dark);
  text-align: left;
  font-weight: bold;
  padding-left: 1%;
  height: 6%;
  display: flex;
  align-items: center;
}

.site-title {
  font-size: 60%;
  color: white;
  text-decoration: none;
}

.button-box {
  margin-left: auto;
  width: 15%;
  min-width: 100px;
}

.story-button {
  text-align: center;
  color: white;
  font-size: 50%;
  padding-right: 5%;
  padding-left: 5%;
  width: 33%;
  vertical-align: center;
}

.story-button:hover {
  font-weight: bold;
}