.ribbon {
  text-align: left;
  font-weight: bold;
  padding-left: 1%;
  height: 5vh;
  display: flex;
  align-items: center;
}

.site-title {
  font-size: 70%;
  color: var(--highlight-color-purple);
  text-decoration: none;
}

.logo {
  height: 80%;
  padding-right: 10px;
}

.button-box {
  margin-left: auto;
  width: 15%;
  min-width: 100px;
}

.story-button {
  text-align: center;
  color: var(--highlight-color-purple);
  font-size: 55%;
  padding-right: 5%;
  padding-left: 5%;
  width: 33%;
  border-radius: 10px;
  vertical-align: center;
}

.story-button:hover {
  color: var(--highlight-color-green);
}