.title {
    text-decoration: none;
    font-size: 0.5em;
    font-weight: bold;
    color: #ffffff;
    padding-top: 2.5%;
    padding-bottom: 1%;
}

.story-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 2px;
    margin-right: 5px;
    border-bottom: 1px solid grey;
}

.main-window {
    flex-grow: 1;
}

.link {
    font-size: 0.4em;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
}

.author {
    font-size: 0.45em;
    padding-left: 0.5%;
    color: grey;
}

.time-story {
    font-size: 0.45em;
    padding-left: 1%;
    color: grey;
}

.score {
    font-size: 0.42em;
    margin: 0;
}

.comment-count {
    font-size: 0.42em;
    margin: 0;
    color: #ffffff;
}

.comment-count:hover {
    color: var(--highlight-color-green);
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: 0.8em solid #ffffff;
    font-size: 0.42em;
}

.comments-and-points-box {
    padding-top: 10px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
}

.speech-bubble {
    width: 15px;
}

.flex-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    min-width: 50px;
}

.link-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3%;
}

.comment-button:hover {
    font-weight: number;
}

.comment-button {
    font-family: inherit;
    padding: 0;
    font-size: 1em;
}