.title {
    text-decoration: none;
    font-size: 0.5em;
    font-weight: bold;
    color: #ffffff;
    padding-top: 2.5%;
    padding-bottom: 1%;
    display: block;
}

.story-card {
    float: left;
    width: 85%;
}

.story-container {
    padding-bottom: 2%;
    padding-left: 1.5%;
    padding-right: 1.2%;
    border-bottom: 1px solid grey;
}

.link {
    display: block;
    font-size: 0.4em;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author {
    font-size: 0.45em;
    padding-left: 0.5%;
    color: grey;
}

.time-story {
    font-size: 0.45em;
    padding-left: 1%;
    color: grey;
}

.score {
    font-size: 0.42em;
    padding-right: 10px;
}

.comment-count {
    font-size: 0.42em;
    padding-right: 10px;
    color: #ffffff;
}

.comment-count:hover {
    font-size: 0.42em;
    padding-right: 10px;
    color: var(--highlight-color-green);
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: 0.8em solid #ffffff;
    font-size: 0.42em;
}

.comments-and-points-box {
    float: right;
    width: 50px;
    padding-top: 0.3%;
}

.points-box {
    float: right;
    width: 50px;
    padding-top: 0.3%;
    font-size: 25px;
    color: grey;
}

.speech-bubble {
    width: 30%;
}

.flex {
    display: flex;
    align-items: center;
}

.link-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3%;
}

.comment-button:hover {
    font-weight: number;
}

.comment-button {
    font-family: inherit;
    padding: 0;
    font-size: 1em;
}