.loading {
    font-size: 90%;
    color: grey;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.box-left {
    flex: 0 0 35%;
    overflow-y: scroll;
    text-align: left;
    height: 95vh;
}

.box-right {
    overflow-y: scroll;
    height: 95vh;
    flex-grow: 1;
}