.loading {
    font-size: 90%;
    color: grey;
}

.wrap {
    display: flex;
}

.box-left {
    height: 95vh;
    width: 35vw;
    overflow-y: scroll;
    text-align: left;
    float: left;
}

.box-right {
    height: 95vh;
    width: 65vw;
    overflow-y: scroll;
}

.box-full {
    overflow-y: none;
    text-align: left;
}